<div class="auth">
    <div class="auth-item" data-testid="login" 
        *ngIf="!authenticated"
    >
        <a (click)="login()" >
            <mat-icon aria-hidden="false" aria-label="Home" fontIcon="home"></mat-icon>
            <p> User login </p>
        </a>
    </div>
    <div class="auth-item" data-testid="loginout" 
        *ngIf="authenticated"
    >
        <a (click)="logout()">
            <mat-icon aria-hidden="false" aria-label="Home" fontIcon="home"></mat-icon>
            <p> Log off </p>
        </a>
    </div>
</div>
