<div 
    class="item-list"
    [appCreationDate]="item.date"
    [ngClass]="{'topRated':item.topRated}"
>
    <div class="item-header" >
        <p class="item-title" > 
            {{item.title | uppercase }} 
            <span *ngIf="item.topRated" class="topRated-icon">
                <mat-icon aria-hidden="false" aria-label="Home" fontIcon="home"></mat-icon>
            </span>
        </p>
        <div class="item-header-details">
            <p class="item-duration"  > {{item.duration | duration}} </p>
            <p class="item-date"  > {{item.date | date:'d MMM y'}} </p>
        </div>
    </div>
    <p class="item-description"> {{item.description}} </p>
    <div class="item-actions" >
        <button type="button" class="item-action" 
            (click)="editCourse(item)"
        >
            Edit
        </button>
        <button type="button" class="item-action" 
            (click)="removeCourse(item.id)"
        >
            Delete
        </button>
    </div>
</div>

